<div class="author">
  <h1 class="author__heading">Search Results</h1>
</div>

<section class="articles">
  <h2 class="article__heading">Latest Posts</h2>

  <ul class="article-ul">
    <% data.forEach (post => { %>
    <li>
      <a href="/post/<%= post._id %>">
        <span> <%- post.title %> </span>
        <span class="article-list__date"></span>
        <% post.createdAt.toDateString() %>
      </a>
    </li>
    <%}); %>
  </ul>
</section>
